$bp-large: 68.75em; // 1100px

.listing {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: #fff;

  border-radius: 5px;

  width: 40rem;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: lightgray;

  img {
    background-size: cover;
    object-fit: cover;

    width: 40rem;
    height: 26rem;

    @media screen and (max-width: var($bp-large)) {
      width: 100%;
      height: 100%;
    }
  }

  &__lazy-load {
    width: 40rem;
    height: 26rem;
  }

  .img-loading {
    opacity: 0;
  }

  .img-loaded {
    animation: FadeIn cubic-bezier(0.23, 1, 0.32, 1) 1;
    animation-duration: 0.7s;
  }

  &__details {
    position: absolute;
    z-index: 1;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    transition: 0.2s;

    cursor: pointer;

    background-color: var(--details-bg-color);

    &:hover {
      background-color: var(--details-hover-bg-color);
    }
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bid-details {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  &__button {
    margin: 2rem 0 0.6rem 0;
    padding: 1rem;

    background-color: var(--primary-color);
    color: #fff;

    border: none;
    border-radius: 5px;

    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.5rem;

    cursor: pointer;

    outline: none;

    transition: 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    }

    &--done {
      background-color: gray;
      cursor: default;

      &:hover {
        transform: none;
        box-shadow: none;
      }
    }
  }
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem 0;

  border-bottom: solid var(--gray) 2px;
}

.status {
  & > *:not(:last-child) {
    margin-right: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 13rem;

    & h6 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }
  }

  &__divider {
    height: 4rem;
  }

  &__bid {
    color: var(--primary-color);
  }
}

.car-details {
  padding: 1.5rem 0;

  h4 {
    text-transform: uppercase;
    color: var(--dark-gray);

    width: 32rem;

    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
}

.car-condition {
  & > *:not(:last-child) {
    margin-right: 3rem;
  }

  & > h4 {
    width: 12rem;
    padding: 0 2rem;
    font-weight: 400;
    text-align: center;
  }
}
