*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*Variables*/
:root {
  --primary-color: #3eb871;

  --bg-color: #ebebeb;
  --navbar-bg-color: #fff;
  --countdown-color: #ff6d4a;
  --details-bg-color: rgba(0, 0, 0, 0.4);
  --details-hover-bg-color: rgba(0, 0, 0, 0.7);

  --dark-gray: #323232;
  --gray: rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%; /*1 rem = 10 px*/
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, Helvetica;
  font-size: 1.4rem;
  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
}
